<ng-template #quanticfy let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Détails</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="ab" style="display: flex;">
        <div id="plist" class="people-list" style="    margin: 9px 25px 0px 13px;">

            <ul data-testid="applications-nav-links-0" class="zd60jn-1 hknAtW">
                <li class="zd60jn-2 ifnPCt" style="    margin: 6px 7px -1px -33px;"><a
                        data-testid="applications-nav-links-0-all" class="zd60jn-4 hxJOlv"
                        (click)="mcompte()"><span>Candidature</span></a></li>

                <li class="zd60jn-2 ifnPCt" style="    margin: 6px 7px -1px -33px;"><a
                        data-testid="applications-nav-links-0-waiting" class="zd60jn-4 hxJOlv"
                        (click)="param()"><span>Emails</span></a></li>


            </ul>
        </div>
        <div class="chat">
            <div class="chat-header clearfix">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="chat-about">
                            <small class="m-b-0">THE QUANTIC FACTORY
                            </small>
                            <h5>Développeur frontend</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="chat-history">
                <ul class="m-b-0">
                    <li class="clearfix">
                        <div class="message-data text-right">
                            <span class="message-data-time">Envoyé le : 22 avril 2022</span>

                        </div>
                        <div class="div1" style="background-color: #f9f9f9;
                        border: ridge;">
                            <h3
                                style="margin:  0 0 0 13px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;">
                                Lettre de motivation</h3>
                            <div style="margin: 15px 10px 15px 14px;">
                                <h5 style="font-size: medium;
                        font-family: emoji;">Madame, Monsieur,<br>
                                    Je suis actuellement étudiante en deuxieme année cycle ingénieu informatiqu à
                                    TEK-UP university , je vous adresse cette lettre afin
                                    de solliciter un stage au sein du service informatique de votre entreprise, d'une
                                    durée de 6
                                    mois. Ce stage serait l'occasion de découvrir le monde professionnel que je souhaite
                                    intégrer
                                    après mes études. À plus court terme, il est également essentiel à l'obtention de
                                    mon
                                    diplôme.<br>
                                    Ayant acquis dans le cadre de mes études, une bonne maîtrise des langages de
                                    programmation Java, JEE, PHP, C et C# ainsi que de solides compétences dans la
                                    gestion des
                                    systèmes d'information, je pourrais être rapidement autonome.<br>
                                    L'informatique, c'est ma passion et le domaine de toutes mes ambitions, c'est mon
                                    présent
                                    et c'est l'avenir, le seul, que je souhaite donner à ma carrière professionnelle. Je
                                    suis une
                                    étudiante méthodique, rigoureuse et volontaire, bien déterminée à apprendre pour
                                    atteindre le niveau de compétences que je me suis fixée.<br>
                                    Je vois mon stage chez vous comme une aventure humaine, ainsi que comme un défi
                                    technique. Une aventure humaine, parce qu'une société, c'est d'abord des personnes.
                                    Une
                                    équipe que l'on intègre, où il faut faire sa place, où l'on apprend à défendre ses
                                    positions
                                    tout en respectant celles des autres.<br>
                                    Mais c'est aussi un défi technique, car il s'agit de confronter ses compétences et
                                    connaissances au réel, à des exigences et des contraintes bien tangibles. Un stage,
                                    c'est
                                    l'occasion de découvrir le monde et ses acteurs, de faire un premier pas vers
                                    eux.<br>
                                    Dans l'espoir d'une réponse favorable, je vous prie de croire, Madame, Monsieur, en
                                    ma
                                    considération la plus parfaite.</h5>
                            </div>


                        </div>
                        <div class="div2" style="    margin: 11px 0 0 0px;">

                            <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/833px-PDF_file_icon.svg.png"
                                download>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/833px-PDF_file_icon.svg.png"
                                    alt="W3Schools" width="70" height="90">
                            </a>

                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn1 button1" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<div class="sc-cxpSdN sc-iIUQWv hdl9e2-6 dujlTa eslXKg">
    <div class="sc-cxpSdN sc-iIUQWv hdl9e2-6 hkiZIz eslXKg">
        <h2 style=" font-family: cursive; font-weight: bold;text-align: center;"> Mes candidatures </h2>
        <div *ngFor="let E of Mescandidatures" class="hdl9e2-7 iCZwFj" style="margin: 40px;">
            <div class="sc-cxpSdN sc-iIUQWv bBMwmD" style="min-width: 0px;
                    border-radius: 14px;
                    margin: auto;
                    width: 800px;
                    font-size: 100%;
                    vertical-align: baseline;
                    background-color: white;
                    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
                    cursor: pointer;">
                <div class="sc-cxpSdN sc-iIUQWv ekWluj">
                    <a data-reference="tqf-be6e20214b560eae97620389" data-role="application:thumb"
                        class="sc-1u92sci-9 bSKMZL" (click)="openScrollableContent(quanticfy)">
                        <div style="display: flex;">
                        <div class="sc-1u92sci-1 kmDwZy" >
                            <img style="border-radius: 14px;" alt="Développeur frontend"
                                src="https://cdn.welcometothejungle.co/uploads/organization/logo/2028/163232/cfd07583-c2d7-4070-9a33-ad4565163486.jpg"
                                class="sc-1u92sci-2 dSEUbQ">
                        </div>
                        <div class="sc-1u92sci-0 fCrCYa" style="padding: 34px 0;" >
                            <h4 style="margin: 0px 0 7px 0;" class="sc-1u92sci-3 jPonwg">
                                <span class="ais-Highlight sc-1s0dgt4-13 bglWVE">
                                    <span class="ais-Highlight-nonHighlighted">{{E.societe}}</span>
                                </span>
                            </h4>
                            <h3 class="sc-1u92sci-4 iTBLwf" style="margin: 0 0 31px 0;">
                                <span class="ais-Highlight sc-1s0dgt4-13 bglWVE">
                                    <span class="ais-Highlight-nonHighlighted">{{E.titre}}</span>
                                </span>
                            </h3>
                            <ul class="sc-1lvyirq-4 hugpBY" style="display: flex;
                                flex-flow: row wrap;
                                margin-bottom: -0.375rem;
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 1.3;
                                letter-spacing: -0.3px;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                color: rgb(76, 76, 76);">
                                <li class="sc-1lvyirq-0 jfvfA">
                                    <span role="img" class="sc-1lvyirq-3 dZpMOU">
                                        <i class="fa fa-newspaper-o" aria-hidden="true"
                                            style="margin-right: 5px;"></i></span>
                                    <span class="sc-1lvyirq-2 gRznTA" style="margin: 0 29px 0 0;">{{E.type}}</span>
                                </li>
                                <li class="sc-1lvyirq-0 jfvfA"><span role="img" class="sc-1lvyirq-3 dZpMOU"><i
                                            class="fa fa-map-marker" aria-hidden="true"
                                            style="margin-right: 5px;"></i></span><span class="sc-1lvyirq-2 gRznTA"
                                        style="margin: 0 29px 0 0;">{{E.lieu}}</span></li>
                                <li class="sc-1lvyirq-0 jfvfA" title="[object Object]"><span role="img"
                                        class="sc-1lvyirq-3 dZpMOU"><i class="fa fa-clock-o" aria-hidden="true"
                                            style="margin-right: 5px;"></i></span><span
                                        class="sc-1lvyirq-2 gRznTA"><time datetime="2022-04-25T14:40:15"
                                            style="    margin: 0 29px 0 0;"><span>{{E.date}}</span></time></span></li>
                            </ul>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div *ngFor="let E of Mescandidatures" class="hdl9e2-7 iCZwFj" style="margin: 40px;">
            <div class="sc-cxpSdN sc-iIUQWv bBMwmD" style="min-width: 0px;
            border-radius: 14px;
            margin: auto;
            width: 800px;
            font-size: 100%;
            vertical-align: baseline;
            background-color: white;
            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
            cursor: pointer;">
                <div class="sc-cxpSdN sc-iIUQWv ekWluj">
                    <a data-reference="tqf-be6e20214b560eae97620389" data-role="application:thumb"
                        class="sc-1u92sci-9 bSKMZL" (click)="openScrollableContent(quanticfy)">
                        <div class="sc-1u92sci-1 kmDwZy" style="margin: 0 600px 24px 0;">
                            <img style="border-radius: 14px;" alt="Développeur frontend"
                                src="https://cdn.welcometothejungle.co/uploads/organization/logo/2028/163232/cfd07583-c2d7-4070-9a33-ad4565163486.jpg"
                                class="sc-1u92sci-2 dSEUbQ">
                        </div>
                        <header class="sc-1u92sci-0 fCrCYa" style="margin: -155px 0 0 0;">
                            <h4 style="margin: 0px 0 7px 0;" class="sc-1u92sci-3 jPonwg">
                                <span class="ais-Highlight sc-1s0dgt4-13 bglWVE">
                                    <span class="ais-Highlight-nonHighlighted">{{E.societe}}</span>
                                </span>
                            </h4>
                            <h3 class="sc-1u92sci-4 iTBLwf" style="margin: 0 0 31px 0;">
                                <span class="ais-Highlight sc-1s0dgt4-13 bglWVE">
                                    <span class="ais-Highlight-nonHighlighted">{{E.titre}}</span>
                                </span>
                            </h3>
                            <ul class="sc-1lvyirq-4 hugpBY" style="display: flex;
                                flex-flow: row wrap;
                                margin-bottom: -0.375rem;
                                font-weight: 400;
                                font-size: 0.875rem;
                                line-height: 1.3;
                                letter-spacing: -0.3px;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                color: rgb(76, 76, 76);">
                                <li class="sc-1lvyirq-0 jfvfA">
                                    <span role="img" class="sc-1lvyirq-3 dZpMOU">
                                        <i class="fa fa-newspaper-o" aria-hidden="true"
                                            style="margin-right: 5px;"></i></span>
                                    <span class="sc-1lvyirq-2 gRznTA" style="margin: 0 29px 0 0;">{{E.type}}</span>
                                </li>
                                <li class="sc-1lvyirq-0 jfvfA"><span role="img" class="sc-1lvyirq-3 dZpMOU"><i
                                            class="fa fa-map-marker" aria-hidden="true"
                                            style="margin-right: 5px;"></i></span><span class="sc-1lvyirq-2 gRznTA"
                                        style="margin: 0 29px 0 0;">{{E.lieu}}</span></li>
                                <li class="sc-1lvyirq-0 jfvfA" title="[object Object]"><span role="img"
                                        class="sc-1lvyirq-3 dZpMOU"><i class="fa fa-clock-o" aria-hidden="true"
                                            style="margin-right: 5px;"></i></span><span
                                        class="sc-1lvyirq-2 gRznTA"><time datetime="2022-04-25T14:40:15"
                                            style="    margin: 0 29px 0 0;"><span>avant-hier</span></time></span></li>
                            </ul>
                        </header>
                        <footer class="sc-1u92sci-8 CSDJN">
                            <div title="Les équipes de THE QUANTIC FACTORY ont bien reçu votre candidature, n'hésitez pas à les relancer"
                                class="sc-kHdrYz fDrpQv sc-1u92sci-5 evZXWa"><i name="bulk"
                                    class="sc-kmQMED GRwgp"></i><span class="sc-1u92sci-6 gtxxsa"><span
                                        style="color: white;">Reçu</span></span></div>
                        </footer>
                    </a>
                </div>
            </div>
        </div> -->
        <footer class="hdl9e2-5 etSNDl">
            <div class="sc-1s0dgt4-12 fSZcog">
                <div class="ais-Pagination ais-Pagination--noRefinement">
                    <ul class="ais-Pagination-list ais-Pagination-list--noRefinement">
                        <li class="ais-Pagination-item ais-Pagination-item--disabled ais-Pagination-item--firstPage">
                            <span class="ais-Pagination-link"></span>
                        </li>
                        <li class="ais-Pagination-item ais-Pagination-item--disabled ais-Pagination-item--previousPage">
                            <span class="ais-Pagination-link"></span>
                        </li>
                        <li class="ais-Pagination-item ais-Pagination-item--selected ais-Pagination-item--page"><a
                                class="ais-Pagination-link ais-Pagination-link--selected" aria-label="Page 1"
                                href="#"></a></li>
                        <li class="ais-Pagination-item ais-Pagination-item--disabled ais-Pagination-item--nextPage">
                            <span class="ais-Pagination-link"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>