<section class="main-sections listing__featured">
	<div class="container container-fluid listing">
        <h4 class="listing__title with-banner">
                    </h4>
        <div class="listing-item__list with-banner">
                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/flateo_VHQ.png" alt="FLATEO">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="744367" title="Sauvegarder" data-href="/saved-jobs/?id=744367&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    déc. 14, 2021
                </div>
                                                                                                        <span class="listing-item__employment-type">STAGE</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/" class="link">Stage Operations Manager / Guest &amp; Hotel Quality Manager</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    FLATEO
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    Télétravail (Mix entre télétravail et flex office)
                </span>
                    </div>
                    <div class="listing-item__desc">
                 Tu aimes les challenges ? La logistique et l'opérationnel te parlent ?  Notre équipe surmotivée recherche des talents pour assister notre Operations Manager    pour le marché francilien uniquement    !  Pourquoi pas toi ? Rejoins la Flateam ! 
 Dans un contexte de forte croissance, et d'expansions en régions, nous souhaitons étoffer notre équipe opérationnelle. 
            </div>
                    </div>
</article>

                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/884318/alternance-recherche-développeur-full-stack-h-f-lyon/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/logo_dipole_simple.png" alt="Dipole">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="884318" title="Sauvegarder" data-href="/saved-jobs/?id=884318&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    janv. 23, 2022
                </div>
                                                                                                        <span class="listing-item__employment-type">Alternance</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/884318/alternance-recherche-développeur-full-stack-h-f-lyon/" class="link">Alternance Recherche Développeur Full-Stack H/F - Lyon</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    Dipole
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    6 Route du Pont Pinay, 69670 Vaugneray, France
                </span>
                    </div>
                    <div class="listing-item__desc">
                  Nous rejoindre c’est intégrer le   Leader Français   du marché du Lims à destination des Laboratoires départementaux d’Analyse.  
  Notre Lims (Laboratory Information Management System) est un logiciel de gestion de laboratoire assistée par ordinateur dans les domaines de la Santé Animale, l’Hygiène Alimentaire et l’Environnement, le lait, l’ œnologie... 
            </div>
                    </div>
</article>

                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/900751/stage-apprentissage-paralegal/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/Logo_Germitec_%28designed_for_the_best_dessous_grand%29.png" alt="Germitec">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="900751" title="Sauvegarder" data-href="/saved-jobs/?id=900751&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    janv. 28, 2022
                </div>
                                                                                                        <span class="listing-item__employment-type">STAGE</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/900751/stage-apprentissage-paralegal/" class="link">Stage/Apprentissage Paralegal</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    Germitec
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    Place des Grands Hommes, Bordeaux, France
                </span>
                    </div>
                    <div class="listing-item__desc">
                 Vos responsabilités sont les suivantes : 
  
  Rédaction et suivi des contrats  
 - Rédiger ou aider à la rédaction des contrats pour les clients et/ou fournisseurs, les partenaires privés ou publics de l'entreprise. 
 - Apporter un appui aux opérationnels sous différentes formes : rédaction d’accords-cadres ou procédures négociées, des conditions générales de vente, des contrats de partenariats, des contrats liés à la propriété intellectuelle... 
 - Rédiger et mettre à jour une base de contrats-type. 
  
  Mise en place et suivi d’une veille juridique  
 - Assurer une veille juridique permanente sur les activités de l’entreprise en suivant à la fois l’évolution des réglementations nationales, européennes et parfois internationales ainsi que la jurisprudence. 
 - Assurer une veille économique et concurrentielle de manière à informer la direction générale et/ou les directions opérationnelles sur les pratiques des autres entreprises du secteur 
 - Collecter l'ensemble des...
            </div>
                    </div>
</article>

                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/884293/chargé-e-de-marketing-b2b-h-f-stage/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/NEW_LOGO.png" alt="Iwase Cosfa Europe">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="884293" title="Sauvegarder" data-href="/saved-jobs/?id=884293&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    janv. 20, 2022
                </div>
                                                                                                        <span class="listing-item__employment-type">STAGE</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/884293/chargé-e-de-marketing-b2b-h-f-stage/" class="link">Chargé(e) de marketing B2B (H/F) (stage)</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    Iwase Cosfa Europe
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    Levallois-Perret, France
                </span>
                    </div>
                    <div class="listing-item__desc">
                   LE POSTE   
  Contrat :  Stage (6 mois)  Tuteur :  Responsable marketing  Marché couvert :  Europe 
  Rattaché(e) à l’équipe commerciale de la filiale et au sein d’une équipe à taille humaine (18 personnes). 
 Vos missions principales seront les suivantes : 
 - Organisation des salons et évènements promotionnels. - Communication médias et réseaux sociaux. - Mise à jour du site internet et création de contenu. - Création de nouveaux supports numériques et outils de promotion de la gamme. 
   LE CANDIDAT   
  Formation  : Étudiant(e) en Licence ou Master spécialisé marketing et/ou communication  Langues  : Anglais niveau professionnel obligatoire  Logiciels  : Maîtrise intermédiaire d’Adobe InDesign, Illustrator et Photoshop. 
  Nous recherchons une personne curieuse et dynamique, pouvant être force de proposition et sachant travailler en autonomie. Vous aimez communiquer, travailler en équipe et vous souhaitez vous épanouir dans un poste qui allie sciences et gestion de projet...
            </div>
                    </div>
</article>

                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/584544/stage-assistant-commercial-administratif-russe-www-visa-office-fr/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/119ECC3A-9258-4D4A-8F18-36835161A4C5.png" alt="VISA OFFICE">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="584544" title="Sauvegarder" data-href="/saved-jobs/?id=584544&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    janv. 10, 2022
                </div>
                                                                                                        <span class="listing-item__employment-type">STAGE</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/584544/stage-assistant-commercial-administratif-russe-www-visa-office-fr/" class="link">Stage Assistant Commercial Administratif Russe - www.Visa-Office.fr</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    VISA OFFICE
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    78 Avenue des Champs-Élysées, Paris, France
                </span>
                    </div>
                    <div class="listing-item__desc">
                 VISA OFFICE est un organisme spécialisé en gestion des formalités consulaires en vue de l’obtention du visa de voyage. En d’autres termes, VISA OFFICE permet aux entreprises et aux particuliers de déléguer l’ensemble des démarches nécessaires à l’obtention du visa auprès des ambassades et consulats sans que les requérants aient besoin de se déplacer. 
 Depuis plus de 16 ans d’existence et forte de son personnel professionnel et expert dans le domaine du voyage vers plus de 70 destinations que ce soit en Afrique (Algérie, Angola, Bénin, Burkina Faso, Burundi, Cameroun, Centrafrique, Congo Brazzaville, Cap Vert, Congo Kinshasa RDC, Côte d’Ivoire, Djibouti, Égypte, Éthiopie, Gabon, Gambie, Ghana, Guinée, Kenya, Liberia, Libye, Madagascar, Malawi, Mali, Niger, Ouganda, Tanzanie, Tchad, Togo, Rwanda, Zambie, Zimbabwe,…) ou Asie (Arabie Saoudite, Azerbaïdjan, Bahreïn, Bangladesh, Birmanie Myanmar, Cambodge, Chine, Émirats Arabes Unis Dubaï, Inde, Indonésie, Jordanie, Kazakhstan, Laos,...
            </div>
                    </div>
</article>

                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/884320/stage-travail-de-fin-d-études-agroecologie-alternatives-naturelles-aux-pesticides-chimiques/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/logo_Medinbio_-_More_Nature-_203x71_px.jpg" alt="MEDINBIO sprl">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="884320" title="Sauvegarder" data-href="/saved-jobs/?id=884320&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    janv. 21, 2022
                </div>
                                                                                                        <span class="listing-item__employment-type">STAGE</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/884320/stage-travail-de-fin-d-études-agroecologie-alternatives-naturelles-aux-pesticides-chimiques/" class="link">Stage / travail de fin d&#039;études : AGROECOLOGIE : Alternatives naturelles aux pesticides chimiques</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    MEDINBIO sprl
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    3 stages : Secteur NORD, BRETAGNE et SUD
                </span>
                    </div>
                    <div class="listing-item__desc">
                  
   Thématique proposée I :    Production de Légumières - Mise en place et suivi d'essais comparant l’itinéraire MEDINBIO  avec un itinéraire conventionnel sur les maladies fongiques et ravageurs : -Poireau – gestion des thrips et de la rouille - Laitue – gestion du mildiou - Carotte – gestion de l’Alternaria et fin de cycle. Après une période de formation en Belgique ou en distanciel, les étudiants seront localisés dans la zone Manche où sont localisés les essais. 
   Thématique proposée II :    Production de pommes de terre (Nord-Ouest) : suivi des parcelles de production  (Nord France et Belgique) et prise de données de la bonne santé de la plante (potentiel rédox, pH, chlorophylle, sévérité du mildiou).  Vigne (Champagne) : collecte mensuelle de données d’évolution du mildiou de la vigne dans le   cadre d’une démarche de réduction des pesticides de synthèse.  Après une période de formation en Belgique au sein de l’équipe MEDINBIO et encadrée par les universités, les étudiants...
            </div>
                    </div>
</article>

                            <article class="media well listing-item listing-item__jobs listing-item__featured">
    <div class="media-left listing-item__logo">
        <a href="https://www.stage.fr/job/744366/stage-business-developer-sales/" tabindex="-1">
                                                <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/flateo_VHQ.png" alt="FLATEO">
                                    </a>
    </div>
    <div class="media-body">
        <div class="media-right text-right">
                                                <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="744366" title="Sauvegarder" data-href="/saved-jobs/?id=744366&action=save&reload=✓" rel="nofollow" href="#"></a>
                                                        <div class="listing-item__date">
                    déc. 14, 2021
                </div>
                                                                                                        <span class="listing-item__employment-type">STAGE</span>
                                                        </div>
                    <div class="media-heading listing-item__title">
                <a href="https://www.stage.fr/job/744366/stage-business-developer-sales/" class="link">Stage Business Developer / Sales</a>
            </div>
        
                    <div class="listing-item__info listing-item__info--item-salary-range clearfix">
                
            </div>
                <div class="listing-item__info clearfix">
                            <span class="listing-item__info--item listing-item__info--item-company">
                    FLATEO
                </span>
                                        <span class="listing-item__info--item listing-item__info--item-location">
                    Télétravail (Mix entre télétravail et flex office)
                </span>
                    </div>
                    <div class="listing-item__desc">
                 Tu aimes les challenges ? Tu es à l'aise avec les clients aussi bien à l'écrit qu'à l'oral ? Tu es curieux et as envie d'apprendre ?  Notre équipe surmotivée recherche des Business Developers. 
 Pourquoi pas toi ? Rejoins la Flateam ! 
 Dans un contexte de forte croissance, nous souhaitons étoffer notre équipe commerciale. 
            </div>
                    </div>
</article>

                    </div>
                    <div class="banner banner--right">
                <!-- START DATA DRIVEN TAG -->
<script title='DataDriven' crossorigin='anonymous' async> document.ddSiteCltId = '' ; 

document.ddSiteAnnId = ''; document.ddAnnRef = ''; document.ddSiteUsrId = ''; 

document.ddSiteEmId = ''; document.ddSitePhone = ''; document.ddSiteOrgn = ''; 

document.ddSiteCkie = '';
var ddeId = 0, ddscmdId = 128, ddsiteutil = window.location.hostname, dadriRef = 

document.referrer, ddr_tracking = null;
ddr_tracking = document.createElement('script');
ddr_tracking.type = 'text/javascript';
ddr_tracking.src = 'https://tags.data-driven.fr/tags?cch=' + Date.now() + '&h=' + 

ddsiteutil + '&v=1.03';
ddr_tracking.setAttribute('title','DDAppendScript');
document.body.appendChild(ddr_tracking);
</script>
<!-- END DATA DRIVEN TAG -->
            </div>
        	</div>
</section>
