<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section   section-shaped">
            <!-- Background circles -->
            <div class="shape shape-style-1 shape-primary">
                <span class="span-150"></span>
                <span class="span-50"></span>
                <span class="span-50"></span>
                <span class="span-75"></span>
                <span class="span-100"></span>
                <span class="span-75"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
                <span class="span-50"></span>
                <span class="span-100"></span>
            </div>
            <div class="">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center t">
                        <div class="col-lg-6 text-center">
                            <p></p>
                            <p></p>
                            <nav class="nav">
                                <div class="c1">
                                    <div class="c2">
                                        <div class="c3">
                                            <ul data-testid="user-menu-links" class="ul">
                                                <li class="li">
                                                    <a class="aa" data-testid="user-menu-link-alerts"
                                                        (click)="notification()">
                                                        <span>Mes notifications</span></a>
                                                </li>
                                                <li class="li">
                                                    <a class="aa" data-testid="user-menu-link-bookmarks"
                                                    (click)="favoriis">
                                                        <span>Mes favoris</span></a>
                                                </li>
                                                <li class="li">
                                                    <a aria-current="page" class="aa active"
                                                        data-testid="user-menu-link-applications"
                                                        (click)="candidature()">
                                                        <span>Mes candidatures</span></a>
                                                </li>
                                                <li class="li">
                                                    <a class="aa" data-testid="user-menu-link-account"
                                                    (click)="compte()">
                                                        <span>Mon compte</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                            <div class="sc-1s0dgt4-10 dVILgj"><i name="search" class="sc-kmQMED hUEBQE"></i></div>
                            <router-outlet></router-outlet>
                            


                        </div>
                    </div>
                </div>
            </div>
            <!-- SVG separator -->

            <!-- tttttttttttttttttttttttttttt -->






            <!-- tttttttttttttttttttttttttttt -->
        </section>


    </div>

</main>