<main>


  <section class="section   section-shaped">
    <!-- Background circles -->
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">


            <div class="btn-wrapper mt-5">
              <div class="container  quick-search">
                <div class="quick-search__wrapper">
                  <form action="https://www.stage.fr/jobs/" style="place-content: space-between;" class="row"
                    target="_top">
                    <div class="form-group form-group__input ">
                      <label for="keywords" class="form-label sr-only">Mots clefs</label>
                      <input type="text" style="border-radius:50px;" value=""
                        class="form-control form-control__centered" name="q" id="keywords" placeholder="Mots clefs" />
                    </div>
                    <div class="form-group form-group__input">
                      <label for="GooglePlace" class="form-label sr-only">Lieu</label>
                      <input type="text" style="border-radius:50px;" name="l" id="GooglePlace"
                        class="form-control form-control__google-location" value="" placeholder="Lieu" />
                      <input type="hidden" name="r" disabled />
                    </div>
                    <div class="form-group form-group__btn">
                      <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header"
                        class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0" style="border-radius:50px;">
                        <span class="btn-inner--icon">
                          <svg style="height: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                            <path
                              d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                          </svg></span>
                        <span class="btn-inner--text">Rechercher</span>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SVG separator -->

    <!-- tttttttttttttttttttttttttttt -->

    <!-- tttttttttttttttttttttttttttt -->
  </section>
  <div class="co">
    <div class="container l" style="margin-top: 20px;background-color: white;height: 264px;">
      <article class="media well  c listing-item__jobs listing-item__featured job-list__item">
        <!-- <div class="media-left listing-item__logo">
          <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/" tabindex="-1">
            <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/flateo_VHQ.png"
              alt="FLATEO">
          </a>
        </div> -->

        <div class="media-body">
          <div class="media-heading listing-item__title">
            <div class="f">
              <div class="">
                <h4>{{offre.titre}}</h4>
                <p>{{offre.lieu}}<br>Il ya 8 heures</p>
                <hr style="margin:0 0 20px 0">
              </div>

              <div class="media-left listing-item__logo f">
                <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/"
                  tabindex="-1">
                  <img class="media-object profile__img-company"
                    src="https://www.stage.fr/files/pictures/flateo_VHQ.png" alt="FLATEO">
                </a>
              </div>
            </div>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">Mes informations</h4>
                <button type="button" class="btn-close" aria-label="Close"
                  (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body" style="margin: auto;">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Photo de profil</label>
                      <div>
                        <img src="../../assets/img/brand/mazen.jpg" style="width:128px; height:128px;" alt="picture">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group ">
                      <label for="inputEmail4">username</label>
                      <input type="email" class="form-control" id="inputEmail4" name="username"  placeholder="aa"  #username="ngModel"[(ngModel)]="form.username" >
                    </div>
                    
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Adresse email</label>
                      <input type="email" class="form-control" id="inputEmail4"name="email" name="email"   #email="ngModel"[(ngModel)]="form.email" placeholder="email">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Téléphone</label>
                      <input type="text" class="form-control" id="inputPassword4" placeholder="tel" name="tel" #tel="ngModel"[(ngModel)]="form.tel" >
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="inputState">Lieu *</label>
                    <select id="inputState" required name="lieu" [(ngModel)]="form.lieu" required #lieu="ngModel"
                      class="form-control">
                      <option value="d">Sélectionnez Lieu</option>
                      <option value="Ariana">Ariana</option>
                      <option value="711">Béja</option>
                      <option value="712">Ben Arous</option>
                      <option value="713">Bizerte</option>
                      <option value="714">Gabès</option>
                      <option value="715">Gafsa</option>
                      <option value="Jendouba">Jendouba</option>
                      <option value="Kairouan">Kairouan</option>
                      <option value="718">Kasserine</option>
                      <option value="719">Kébili</option>
                      <option value="720">Le Kef</option>
                      <option value="721">Mahdia</option>
                      <option value="722">La Manouba</option>
                      <option value="723">Médenine</option>
                      <option value="724">Monastir</option>
                      <option value="725">Nabeul</option>
                      <option value="726">Sfax</option>
                      <option value="727">Sidi Bouzid</option>
                      <option value="728">Siliana</option>
                      <option value="729">Sousse</option>
                      <option value="730">Tataouine</option>
                      <option value="731">Tozeur</option>
                      <option value="732">Tunis</option>
                      <option value="733">Zaghouan</option>
                    </select>
                  </div>
                  <hr>
                  <h4 class="modal-title" style="padding: 0px 0 17px 0; margin: 0px 0px 0 -10px;">Mon parcours</h4>
                  <label for="inputEmail4">Titre de mon profil</label>
                  <div class="input-group">
                    <input type="text" class="form-control" class="form-control" name="titre" [(ngModel)]="form.titre"
                      required #titre="ngModel" id="inputEmail4" placeholder="Titre de mon profil">
                  </div>
                  <div class="form-row" style="margin-top: 20px;">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Joindre votre CV</label>
                      <div style="border-radius: 20px; padding: 8px 4px 9px 5px;">
                        <input type="file" id="avatar" name="avatar" accept="pdf">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Lettre de motivation</label>
                    <textarea class="form-control" class="form-control" name="lettreMotivation"
                      [(ngModel)]="form.lettreMotivation" required #lettreMotivation="ngModel" id="inputEmail4"
                      placeholder="lettre de Motivation" rows="3"></textarea>

                  </div>
                  <hr>
                  <h4 class="modal-title" style="padding: 0px 0 17px 0; margin: 0px 0px 0 -10px;">Ma présence sur
                    internet</h4>
                  <label for="inputEmail4">Site internet</label>
                  <div class="input-group">

                    <input type="text" class="form-control" class="form-control" name="SiteInternet"
                      [(ngModel)]="form.SiteInternet" required #SiteInternet="ngModel" id="inputEmail4"
                      placeholder="Site internet">
                  </div>
                  <label for="inputEmail4">LinkedIn</label>
                  <div class="input-group">

                    <input type="text" class="form-control" class="form-control" name="linkedIn"
                      [(ngModel)]="form.linkedIn" required #linkedIn="ngModel" id="inputEmail4" placeholder="LinkedIn">
                  </div>
                  <label for="inputEmail4">Github</label>
                  <div class="input-group">

                    <input type="text" class="form-control" class="form-control" name="github" [(ngModel)]="form.github"
                      required #github="ngModel" id="inputEmail4" placeholder="Github">
                  </div>
                  <hr>
                  <h4 class="modal-title" style="padding: 0px 0 17px 0; margin: 0px 0px 0 -10px;">Conditions Générales
                    d'utilisation</h4>
                  <div>
                    <input type="checkbox" id="coding" name="interest" value="C1">
                    <label for="condition1" style="margin: 0 0 0 10px ;">j'ai lu et j'accepte les CGU de
                      InternUp</label>
                  </div>
                  <div>
                    <input type="checkbox" id="coding" name="interest" value="C1">
                    <label for="condition1" style="margin: 0 0 0 10px ;">j'accepte que l'entreprise conserve mes données
                      personnelles </label><br>
                    pendant une durées de 2 ans afin d'etre recontacté(e) pour de nouvelles opportunités.
                  </div>

                  <p></p>
                  <div>
                    <button type="submit" (click)="sub(offre.id)" class="btn btn-primary"
                      style="border-radius: 20px;">Postuler</button>
                    <div class="alert alert-success" style="text-align: center;" *ngIf="isSuccessful">
                      La candidature a été envoyer avec succès </div>
                    <!-- <div  style="margin-left: 155px;" class="lds-dual-ring"></div> -->
                    <div *ngIf="submitted && !isSignUpFailed" style="margin-left: 155px;" class="lds-dual-ring"></div>
                    <div class="form-group">
                      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                        Vous avez postuler a cet offre .
                      </div>
                    </div>
                  </div>
                </form>
              </div>

            </ng-template>
            <div class="f">
              <div class="f" style="width: 100%;">
                <button type="button" class="btn1 button1" (click)="openScrollableContent(content)">
                  Postuler
                </button>


                <!-- <div class="overlay" *ngIf="popup">
                  <div class="popup">
                    <h2 style=" font-family: verdana;
                    font-size: 300%; text-align: center;"> Postuler </h2>
                    <hr>
                    <a class="close" (click)="popup = false">&times;</a>
                    <div class="content">

                    </div>
                  </div>
                </div> -->
                <p style="margin: 22px 0px 0px 14px;">n'attendez pas pour vous garentir ce post</p>
                <hr style="margin:0">
              </div>

              <div class="media-left listing-item__logo f">
                <p style="width: 106px;">{{candidats.length}} Candidats</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <br>
    <div class="container c l">
      <div class="detail-offre  notfeatured" style="text-align: initial;">

        <div class="infos_job_details">
          <div class="col-md-4">
            <dl>
              <dt>Postes vacants:</dt>
              <dd>1 poste ouvert </dd>
            </dl>
          </div>
          <div class="col-md-4">
            <dl>
              <dt>Type d&#039;emploi désiré :</dt>
              <dd>{{(offre.type).slice(0,5)}}</dd>
            </dl>
          </div>
          <div class="clear"></div>
        </div>
        <h3 class="details-body__title">Description de l&#039;emploi</h3>
        <div class="details-body__content content-text">
          <p>{{offre.societe}} est &agrave; la recherche d'un {{(offre.titre)}}.</p>
        </div>
        <h3 class="details-body__title">Exigences de l&#039;emploi</h3>
        <div class="details-body__content content-text">
          <p>{{offre.description}}</p>
          <p>Les personnes int&eacute;ress&eacute;es merci d'envoyer votre CV.</p>
        </div>
        <h3 class="details-body__title">Date d&#039;expiration</h3>
        <div class="details-body__content content-text">{{(offre.edate)}} </div>
        <br />

        <div class="bootstrap-tagsinput" style="margin-top: 10px;"> <span class="main-label">Mots clés: </span>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=Anypli&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">{{offre.societe}}</span> </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=recrute&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">recrute</span> </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=D&eacute;veloppeurs Symfony&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info"
              style="font-size: 100%; font-weight: 500;">{{(offre.titre).slice(5,-1)}}</span>
          </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=exp&eacute;riment&eacute;e&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">exp&eacute;riment&eacute;e</span>
          </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=informatique&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">informatique </span> </a>

          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <br>
        <button type="button" class="visible-xs-inline btn btn-apply btn-primary btn-lg btn-block" href=""
          data-toggle="modal" data-target="#apply-modal" data-href="						https://www.tanitjobs.com/apply-now/?listing_id=904162&ajaxRelocate=1
                  " data-applied='' data-title="																		Postuler à Développeurs Symfony chez Anypli
                  " (click)="openScrollableContent(content)"> Postuler maintenant </button>
      </div>
    </div>
    <br>
    <div class="container ">
      <div class="card-body shadow c">
        Offre d'emploi similaires :
      </div>
    </div>
    <br>
    <h2 style="text-align: center;"> Offres de formation en Tunisie </h2>
    <div class="container shadow">
      <div class="card-body c">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Formation professionnelle en Développement Angular 7</li>
          <li class="list-group-item">Infographiste Designer (Web & Print)</li>
          <li class="list-group-item">Formation en Test et Validation préparer vous la certification ISTQB</li>
          <li class="list-group-item">Graphisme & Motion Design</li>
          <li class="list-group-item">Développeur applications WEB/PHP5, Intégrateur WEB et Spécialiste CMS</li>
        </ul>
      </div>
    </div>
  </div>
</main>