.profile__img-company {
    border-radius: 6px;
}
.listing-item__logo .media-object:not(.profile__img) {
    max-width: 125px;
    max-height: 125px;
    margin-right: 15px;
    display: inline-block;
}
.f{
    display: flex;
    justify-content: space-around;

}
.b{
    background-color: blue;
    border-radius: 50px;
    color: white;
    height: 46px;
    width: 200px;
}
@keyframes "lds-dual-ring" {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(360deg);
 }
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #7e7e7e transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.co{
    background-color: #f9fafa;
}
.posts-list .listing-item__logo .media-object {
    max-width: 125px;
    max-height: 125px;
}
.tag.label-info {
    background-color: #f2f2f2;
    border: 1px solid #D0D0D0;
    color: #555;
    display: inline-block;
    font-size: 12px!important;
    font-weight: 400!important;
    line-height: 18px;
    margin: 3px 1px;
    transition: all .2s;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    border-radius: 15px;
}
.c{
    padding :15px;
}
.l {

    min-height: 104px;

    background-color: #fff;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    position: relative;

    -webkit-transition: box-shadow 0.2s ease-in;

    -moz-transition: box-shadow 0.2s ease-in;

    -o-transition: box-shadow 0.2s ease-in;

    transition: box-shadow 0.2s ease-in;

    border: none;

    -moz-box-shadow: 0 2px 16px #f4f4f4;

    -o-box-shadow: 0 2px 16px #f4f4f4;

    -ms-box-shadow: 0 2px 16px #f4f4f4;

    border-radius: 20px;

    margin-bottom: 30px;

}
.btn1 {
    background-color: transparent;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .button1 {
    background-color: transparent; 
    color: black; 
    border: 2px solid rgb(180, 177, 177);
  }
  
  .button1:hover {
    background-color: rgb(93, 60, 185);
    color: white;
  }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}
.btn2 {
    border-radius: 20px;
}
