<main>


  <section class="section   section-shaped">
    <!-- Background circles -->
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">


            <div class="btn-wrapper mt-5">
              <div class="container  quick-search">
                <div class="quick-search__wrapper">
                  <form action="https://www.stage.fr/jobs/" style="place-content: space-between;" class="row"
                    target="_top">
                    <div class="form-group form-group__input ">
                      <label for="keywords" class="form-label sr-only">Mots clefs</label>
                      <input type="text" style="border-radius:50px;" value=""
                        class="form-control form-control__centered" name="q" id="keywords" placeholder="Mots clefs" />
                    </div>
                    <div class="form-group form-group__input">
                      <label for="GooglePlace" class="form-label sr-only">Lieu</label>
                      <input type="text" style="border-radius:50px;" name="l" id="GooglePlace"
                        class="form-control form-control__google-location" value="" placeholder="Lieu" />
                      <input type="hidden" name="r" disabled />
                    </div>
                    <div class="form-group form-group__btn">
                      <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header"
                        class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0" style="border-radius:50px;">
                        <span class="btn-inner--icon">
                          <svg style="height: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                            <path
                              d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                          </svg></span>
                        <span class="btn-inner--text">Rechercher</span>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->

    <!-- tttttttttttttttttttttttttttt -->

    <!-- tttttttttttttttttttttttttttt -->
  </section>
  <div class="co">
    <div class="container l" style="margin-top: 20px;background-color: white;height: 264px;">
      <article class="media well  c listing-item__jobs listing-item__featured job-list__item">
        <!-- <div class="media-left listing-item__logo">
          <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/" tabindex="-1">
            <img class="media-object profile__img-company" src="https://www.stage.fr/files/pictures/flateo_VHQ.png"
              alt="FLATEO">
          </a>
        </div> -->

        <div class="media-body">
          <div class="media-heading listing-item__title">
            <div class="f">
              <div class="">
                <h4>Stage Operations Manager / Guest &amp; Hotel Quality Manager</h4>
                <p>Monastir, Tunisie<br>Il ya 8 heures</p>
                <hr style="margin:0 0 20px 0">
              </div>

              <div class="media-left listing-item__logo f">
                <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/"
                  tabindex="-1">
                  <img class="media-object profile__img-company"
                    src="https://www.stage.fr/files/pictures/flateo_VHQ.png" alt="FLATEO">
                </a>
              </div>
            </div>
            <div class="f">
              <div class="f" style="width: 100%;">
                <button class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0 b"
                  >Postuler</button>
                <p>n'attendez pas pour vous garentir ce post</p>
                <hr style="margin:0">
              </div>

              <div class="media-left listing-item__logo f">
                <p>1 post ouvert</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <br>
    <div class="container c l">
      <div class="detail-offre  notfeatured">

        <div class="infos_job_details">
          <div class="col-md-4">
            <dl>
              <dt>Postes vacants:</dt>
              <dd>1 poste ouvert </dd>
            </dl>
          </div>
          <div class="col-md-4">
            <dl>
              <dt>Type d&#039;emploi désiré :</dt>
              <dd>CDI, Temps plein</dd>
            </dl>
          </div>
          <div class="clear"></div>
        </div>
        <h3 class="details-body__title">Description de l&#039;emploi</h3>
        <div class="details-body__content content-text">
          <p>Anypli est &agrave; la recherche des d&eacute;veloppeurs Symfony.</p>
        </div>
        <h3 class="details-body__title">Exigences de l&#039;emploi</h3>
        <div class="details-body__content content-text">
          <p>Avec au minimum trois ans d'exp&eacute;rience.&nbsp;</p>
          <p>Salaire tr&egrave;s motivant qui d&eacute;pend du type de profil avec tickets restaurant et assurance
            groupe.
          </p>
          <p>Il y'a aussi la possibilit&eacute; des missions chez le client en France pour les personnes
            exp&eacute;riment&eacute;es.</p>
          <p>Les personnes int&eacute;ress&eacute;es merci d'envoyer votre CV.</p>
        </div>
        <h3 class="details-body__title">Date d&#039;expiration</h3>
        <div class="details-body__content content-text">04/05/2022</div>
        <br />

        <div class="bootstrap-tagsinput" style="margin-top: 10px;"> <span class="main-label">Mots clés: </span>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=Anypli&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">Anypli</span> </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=recrute&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">recrute</span> </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=D&eacute;veloppeurs Symfony&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">D&eacute;veloppeurs Symfony</span>
          </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=exp&eacute;riment&eacute;e&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">exp&eacute;riment&eacute;e</span>
          </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=informatique&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">informatique </span> </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=Symfony&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">Symfony</span> </a>
          <a
            href="https://www.tanitjobs.com/jobs/?listing_type%5Bequal%5D=Job&action=search&keywords%5Ball_words%5D=D&eacute;veloppeur&GooglePlace%5Blocation%5D%5Bvalue%5D=&GooglePlace%5Blocation%5D%5Bradius%5D=50"><span
              class="tag label label-info" style="font-size: 100%; font-weight: 500;">D&eacute;veloppeur</span> </a>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <br>
        <button type="button" class="visible-xs-inline btn btn-apply btn-primary btn-lg btn-block" href=""
          data-toggle="modal" data-target="#apply-modal" data-href="						https://www.tanitjobs.com/apply-now/?listing_id=904162&ajaxRelocate=1
                  " data-applied='' data-title="																		Postuler à Développeurs Symfony chez Anypli
                  "> Postuler maintenant </button>
      </div>
    </div>
    <br>
    <div class="container ">
      <div class="card-body shadow c">
        Offre d'emploi similaires :
      </div>
    </div>
    <br>
    <h2 style="text-align: center;"> Offres de formation en Tunisie </h2>
    <div class="container shadow">
      <div class="card-body c">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Formation professionnelle en Développement Angular 7</li>
          <li class="list-group-item">Infographiste Designer (Web & Print)</li>
          <li class="list-group-item">Formation en Test et Validation préparer vous la certification ISTQB</li>
          <li class="list-group-item">Graphisme & Motion Design</li>
          <li class="list-group-item">Développeur applications WEB/PHP5, Intégrateur WEB et Spécialiste CMS</li>
        </ul>
      </div>
    </div>
  </div>
</main>