.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.is-active{
	background-color: #ffffff00;
    border-bottom: 2px solid;
    border-radius: 23px;
    padding: 3px 11px;
    color: white;
}