<main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section   section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary" style="
        height: 126px;
    ">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-100"></span>
          <span class="span-75"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>
        <div class="">
          
        </div>
        <!-- SVG separator -->
  
        <!-- tttttttttttttttttttttttttttt -->
  
        
  
  
  
  
        <!-- tttttttttttttttttttttttttttt -->
      </section>
      <div style="display: grid;background-color: beige;">
        <section class="main-sections listing__featured">
          
          <div class="container container-fluid listing">
            
            <h4 class="listing__title with-banner">
            </h4>
            <div class="listing-item__list with-banner" style="            margin-left: 50px;        ">
              <h3>Mes favoris</h3>
              <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/"  class="link ">
              <article class="media well listing-item listing-item__jobs listing-item__featured job-list__item">
                <div class="media-left listing-item__logo">
                  <a href="https://www.stage.fr/job/744367/stage-operations-manager-guest-hotel-quality-manager/"
                    tabindex="-1">
                    <img class="media-object profile__img-company"
                      src="https://www.stage.fr/files/pictures/flateo_VHQ.png" alt="FLATEO">
                  </a>
                </div>
                
                <div class="media-body">
                  
                  <div class="media-right text-right listing-item__date">
                    
                   <button class="bt-fav">  <i class="fa fa-heart-o"></i> </button>
                    
                  </div>
                  <div class="media-heading listing-item__title">
                    Stage Operations Manager / Guest &amp; Hotel Quality Manager
                  </div>
                  
                  <div class="listing-item__info listing-item__info--item-salary-range clearfix">
  
                  </div>
                  <div class="listing-item__info clearfix">
                    <span class="listing-item__info--item listing-item__info--item-company">
                      FLATEO
                    </span>
                    <span class="listing-item__info--item listing-item__info--item-location">
                      Télétravail (Mix entre télétravail et flex office)
                    </span>
                    
                  </div>
                  <div class="listing-item__desc  ">
                    Tu aimes les challenges ? La logistique et l'opérationnel te parlent ? Notre équipe surmotivée
                    recherche des talents pour assister notre Operations Manager pour le marché francilien uniquement !
                    Pourquoi pas toi ? Rejoins la Flateam !
                    Dans un contexte de forte croissance, et d'expansions en régions, nous souhaitons étoffer notre équipe
                    opérationnelle.
                  </div>
                  
                </div>
              
              </article>
            </a>
            <a href="https://www.stage.fr/job/900751/stage-apprentissage-paralegal/"  class="link">
              <article class="media well listing-item listing-item__jobs listing-item__featured job-list__item">
                <div class="media-left listing-item__logo">
                  <a href="https://www.stage.fr/job/900751/stage-apprentissage-paralegal/" tabindex="-1">
                    <img class="media-object profile__img-company"
                      src="https://www.stage.fr/files/pictures/Logo_Germitec_%28designed_for_the_best_dessous_grand%29.png"
                      alt="Germitec">
                  </a>
                </div>
                <div class="media-body">
                  <div class="media-right text-right listing-item__date">
                    
                    <button class="bt-fav"><i class="fa fa-heart-o"></i> </button>
                  </div>
                  <div class="media-heading listing-item__title">
                    Stage/Apprentissage Paralegal
                  </div>
  
                  <div class="listing-item__info listing-item__info--item-salary-range clearfix">
  
                  </div>
                  <div class="listing-item__info clearfix">
                    <span class="listing-item__info--item listing-item__info--item-company">
                      Germitec
                    </span>
                    <span class="listing-item__info--item listing-item__info--item-location">
                      Place des Grands Hommes, Bordeaux, France
                    </span>
                  </div>
                  <div class="listing-item__desc">
                    Vos responsabilités sont les suivantes :
  
                    Rédaction et suivi des contrats
                    - Rédiger ou aider à la rédaction des contrats pour les clients et/ou fournisseurs, les partenaires
                    privés ou publics de l'entreprise.
                    - Apporter un appui aux opérationnels sous différentes formes : rédaction d’accords-cadres ou
                    procédures négociées, des conditions générales de vente, des contrats de partenariats, des contrats
                    liés à la propriété intellectuelle...
                    - Rédiger et mettre à jour une base de contrats-type.
  
                    Mise en place et suivi d’une veille juridique
                    - Assurer une veille juridique permanente sur les activités de l’entreprise en suivant à la fois
                    l’évolution des réglementations nationales, européennes et parfois internationales ainsi que la
                    jurisprudence.
                    - Assurer une veille économique et concurrentielle de manière à informer la direction générale et/ou
                    les directions opérationnelles sur les pratiques des autres entreprises du secteur
                    - Collecter l'ensemble des...
                  </div>
                </div>
              </article>
            </a>
            
            </div>
            <div class="banner banner--right">
              <!-- START DATA DRIVEN TAG -->
              <script title='DataDriven' crossorigin='anonymous' async> document.ddSiteCltId = '';
  
                document.ddSiteAnnId = ''; document.ddAnnRef = ''; document.ddSiteUsrId = '';
  
                document.ddSiteEmId = ''; document.ddSitePhone = ''; document.ddSiteOrgn = '';
  
                document.ddSiteCkie = '';
                var ddeId = 0, ddscmdId = 128, ddsiteutil = window.location.hostname, dadriRef =
  
                  document.referrer, ddr_tracking = null;
                ddr_tracking = document.createElement('script');
                ddr_tracking.type = 'text/javascript';
                ddr_tracking.src = 'https://tags.data-driven.fr/tags?cch=' + Date.now() + '&h=' +
  
                  ddsiteutil + '&v=1.03';
                ddr_tracking.setAttribute('title', 'DDAppendScript');
                document.body.appendChild(ddr_tracking);
              </script>
              <!-- END DATA DRIVEN TAG -->
            </div>
          </div>
        </section>
      </div>
  
    </div>
  
  </main>
