<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section   section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary" style="
      height: 126px;
  ">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      
      <!-- SVG separator -->

      <!-- tttttttttttttttttttttttttttt -->

      




      <!-- tttttttttttttttttttttttttttt -->
    </section>
  <br/>  <br/>  <br/>  <br/>
    <section class="ftco-section">
    <div class="col-sm-6 center">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Créer un compte</h5>
      <h6 class="card-subtitle mb-2 text-muted">Please</h6>
      <p class="card-text">Choisissez le type de compte:</p>
      <a [routerLink]="['/formC']" class="card-link" >candidat</a>
      <a [routerLink]="['/formE']" class="card-link">Entreprise</a>
    </div>
  </div>
</div>
</section>
</div>
</main>