<main>
  <br/>  <br/>  <br/>  <br/>
    <section class="ftco-section">
    <div class="col-sm-6 center">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Créer un compte</h5>
      <h6 class="card-subtitle mb-2 text-muted">Please</h6>
      <p class="card-text">Choisissez le type de compte:</p>
      <a [routerLink]="['/formC']" class="card-link" >candidat</a>
      <a href="['/formE']" class="card-link">Entreprise</a>
    </div>
  </div>
</div>
</section>
</main>