<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section   section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center t">
            <div class="col-lg-6 text-center">
              <p></p>
              <p></p>
              <h1 class="display-3  text-white" style="width: max-content; text-align: center; padding-left: 150px; ">
                Offres en Alternance </h1>
              <p></p>
              <h6 style="text-align: center; font-size: medium; color: #ffffff; ">Vous êtes à la recherche d’une
                entreprise pour un contrat en alternance ? L’Etudiant vous propose des centaines d’offres de contrats en
                apprentissage ou de contrats de professionnalisation ? Que vous recherchiez un poste d’apprenti en
                ressources humaines, comptabilité, communication, marketing, informatique, commerce,
                transport-logistique ou même ingénierie, nous vous avons sélectionné des centaines d’offres pouvant
                correspondre à votre formation ou niveau d’études. Retrouvez, grâce à notre moteur de recherche, des
                entreprises qui recrutent sur toutes la Tunisie.</h6>

              <div class="btn-wrapper mt-5">
                <div class="container  quick-search">
                  <div class="quick-search__wrapper">
                    <form action="https://www.stage.fr/jobs/" class="row" target="_top">
                      <div class="form-group form-group__input ">
                        <label for="keywords" class="form-label sr-only">Mots clefs</label>
                        <input type="text" value="" class="form-control form-control__centered" name="q" id="keywords"
                          placeholder="Mots clefs" />
                      </div>
                      <div class="form-group form-group__input">
                        <label for="GooglePlace" class="form-label sr-only">Lieu</label>
                        <input type="text" name="l" id="GooglePlace" class="form-control form-control__google-location"
                          value="" placeholder="Lieu" />
                        <input type="hidden" name="r" disabled />
                      </div>
                      <div class="form-group form-group__btn">
                        <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header"
                          class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                          <span class="btn-inner--icon">
                            <svg style="height: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                              <path
                                d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                            </svg></span>
                          <span class="btn-inner--text">Rechercher</span>
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>







            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->

      <!-- tttttttttttttttttttttttttttt -->






      <!-- tttttttttttttttttttttttttttt -->
    </section>
    <div style="background-color: #f9fafa;">
      <button class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0" style="left: 7vw;" (click)="disappear()">filtrer</button>
    </div>
    <div style="display: flex;background-color: #f9fafa;justify-content: center;">
      <div *ngIf="disappea" class="col-lg-3 col-sm-6 mt-4 mt-md-0" style="padding-left: 12vw;    margin-top: 62px !important;
background-color: #f9fafa;      ">
        <!-- Radio buttons -->
        <details open>
          <summary>Secteur</summary>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" (click)="check('Management')" id="customCheck1" type="checkbox">
            <label class="custom-control-label" for="customCheck1">
              <span>Management</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" (click)="check('RH')"id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2">
              <span>RH</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" (click)="check('Informatique')" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <span>Informatique</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" (click)="check('Marketing')" id="customCheck4" type="checkbox">
            <label class="custom-control-label" for="customCheck4">
              <span>Marketing</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" (click)="check('Gestion')"id="customCheck5" type="checkbox">
            <label class="custom-control-label" for="customCheck5">
              <span>Gestion</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input"(click)="check('Agrecologie')" id="customCheck6" type="checkbox">
            <label class="custom-control-label" for="customCheck6">
              <span>Agrecologie</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input"(click)="check('Agrecologie')" id="customCheck6" type="checkbox">
            <label class="custom-control-label" for="customCheck6">
              <span>Agrecologie</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input"(click)="check('Securité')" id="customCheck6" type="checkbox">
            <label class="custom-control-label" for="customCheck6">
              <span>Securité</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input"(click)="check('Biologie')" id="customCheck6" type="checkbox">
            <label class="custom-control-label" for="customCheck6">
              <span>Biologie</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input"(click)="check('Comptabilité')" id="customCheck6" type="checkbox">
            <label class="custom-control-label" for="customCheck6">
              <span>Comptabilité</span>
            </label>
          </div>
        </details>
        <details open>
          <summary>Lieu</summary>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck1" type="checkbox">
            <label class="custom-control-label" for="customCheck1">
              <span>Ariana</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2">
              <span>Béja</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <span>Ben Arous</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck4" type="checkbox">
            <label class="custom-control-label" for="customCheck4">
              <span>Bizerte</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck5" type="checkbox">
            <label class="custom-control-label" for="customCheck5">
              <span>Gabès</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck6" type="checkbox">
            <label class="custom-control-label" for="customCheck6">
              <span>Gafsa</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck7" type="checkbox">
            <label class="custom-control-label" for="customCheck7">
              <span>Jendouba</span>
            </label>
          </div>
        </details>
        <details open>
          <summary>Type</summary>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck1" type="checkbox">
            <label class="custom-control-label" for="customCheck1">
              <span>Ingénierie</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2">
              <span>Master</span>
            </label>
          </div>
          
        </details>
        <!-- <div class="mb-3">
          <small class="text-uppercase font-weight-bold">Checkboxes</small>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck1" type="checkbox">
          <label class="custom-control-label" for="customCheck1">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck2" type="checkbox">
          <label class="custom-control-label" for="customCheck2">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck3" type="checkbox">
          <label class="custom-control-label" for="customCheck3">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck4" type="checkbox">
          <label class="custom-control-label" for="customCheck4">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck5" type="checkbox">
          <label class="custom-control-label" for="customCheck5">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck6" type="checkbox">
          <label class="custom-control-label" for="customCheck6">
            <span>Unchecked</span>
          </label>
        </div>
        <div class="custom-control custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck7" type="checkbox">
          <label class="custom-control-label" for="customCheck7">
            <span>Unchecked</span>
          </label>
        </div> -->
      </div>

      <div style="display: grid;background-color: #ffffff;">
        <section class="main-sections listing__featured">
          <div class="container container-fluid listing">
            <h4 class="listing__title with-banner">
            </h4>
            <div class="listing-item__list with-banner" style="margin-left: 50px;">
              <article class="media well listing-item listing-item__jobs listing-item__featured"
                *ngFor="let E of Offres">
                <div class="media-left listing-item__logo">
                  <a [routerLink]="['/offre']" tabindex="-1">
                    <img class="media-object profile__img-company"
                      src="https://www.stage.fr/files/pictures/flateo_VHQ.png" alt="FLATEO">
                  </a>
                </div>
                <div class="media-body">
                  <div class="media-right text-right">
                    <a class="save-job" data-toggle="modal" data-target="#apply-modal" data-id="744367"
                      title="Sauvegarder" data-href="/saved-jobs/?id=744367&action=save&reload=✓" rel="nofollow"
                      href="#"></a>
                    <div class="listing-item__date">
                      déc. 14, 2021
                    </div>
                  </div>
                  <div class="media-heading listing-item__title">
                    <a [routerLink]="['/offre']" class="link">{{E.titre}}</a>
                  </div>

                  <div class="listing-item__info listing-item__info--item-salary-range clearfix">

                  </div>
                  <div class="listing-item__info clearfix">
                    <span class="listing-item__info--item listing-item__info--item-company">
                      {{E.societe}}
                    </span>
                    <span class="listing-item__info--item listing-item__info--item-location">
                      {{E.lieu}}
                    </span>
                  </div>
                  <div class="listing-item__desc">
                    {{E.description}}
                  </div>
                </div>
              </article>


            </div>
            <div class="banner banner--right">
              <!-- START DATA DRIVEN TAG -->
              <script title='DataDriven' crossorigin='anonymous' async> document.ddSiteCltId = '';

                document.ddSiteAnnId = ''; document.ddAnnRef = ''; document.ddSiteUsrId = '';

                document.ddSiteEmId = ''; document.ddSitePhone = ''; document.ddSiteOrgn = '';

                document.ddSiteCkie = '';
                var ddeId = 0, ddscmdId = 128, ddsiteutil = window.location.hostname, dadriRef =

                  document.referrer, ddr_tracking = null;
                ddr_tracking = document.createElement('script');
                ddr_tracking.type = 'text/javascript';
                ddr_tracking.src = 'https://tags.data-driven.fr/tags?cch=' + Date.now() + '&h=' +

                  ddsiteutil + '&v=1.03';
                ddr_tracking.setAttribute('title', 'DDAppendScript');
                document.body.appendChild(ddr_tracking);
              </script>
              <!-- END DATA DRIVEN TAG -->
            </div>
          </div>
        </section>
        <ul *ngIf='pages' class="nav nav-pills" style="display: flex;justify-content: center;">
          <li [ngClass]="i==currentPage?'active':''" *ngFor="let p of pages; let i=index" class="page-link">
            <a class="clickable" (click)="onPageProduits(i) ">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</main>