<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">

              <div class="">
              <div class="main-banner__wrapper">
                <div class="container text-center">
                    <div class="main-banner__head">
      <p><strong>33 199 <span style="color: #bfbfbf;" data-darkreader-inline-color=""><span style="text-decoration: underline;"><a style="text-decoration: underline; color: #bfbfbf;" title="stage" href="https://www.stage.fr/jobs/?q=stage" data-darkreader-inline-color="">Stages</a></span></span><span style="color: #999999;" data-darkreader-inline-color=""> ,</span> emplois en <span style="text-decoration: underline; color: #bfbfbf;" data-darkreader-inline-color=""><a style="color: #bfbfbf; text-decoration: underline;" title="alternance" href="https://www.stage.fr/jobs/?q=alternance" data-darkreader-inline-color="">Alternance</a></span> et <span style="text-decoration: underline; color: #999999;" data-darkreader-inline-color=""><a style="color: #bfbfbf; text-decoration: underline;" title="premier emploi" href="https://www.stage.fr/jobs" data-darkreader-inline-color="">Emplois</a></span> jeunes &agrave; pourvoir</strong></p>
      <p>&nbsp;</p>
      <h3><strong>Lib&eacute;rez votre potentiel</strong></h3></div>
      
                </div>
            </div>
          </div>
            <div class="btn-wrapper mt-5">
              <div class="container container-fluid quick-search">
            <div class="quick-search__wrapper well">
            <form action="https://www.stage.fr/jobs/" class="form-inline row" target="_top">
            <div class="form-group form-group__input ">
              <label for="keywords" class="form-label sr-only">Mots clefs</label>
              <input type="text" value="" class="form-control form-control__centered" name="q" id="keywords" placeholder="Mots clefs" />
            </div>
                    <div class="form-group form-group__input">
                <label for="GooglePlace" class="form-label sr-only">Lieu</label>
            <input type="text" name="l" id="GooglePlace" class="form-control form-control__google-location" value="" placeholder="Lieu"/>
            <input type="hidden" name="r" disabled />
              </div>
              <div class="form-group form-group__btn">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon">
                    <svg style="height: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg></span>
                  <span class="btn-inner--text">Rechercher</span>
                </a>
            </div>
            </form>
            </div>
          </div></div>



              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;">
              </div>
              


            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
    
      <!-- tttttttttttttttttttttttttttt -->

              <div class="container  widget__text-block">
                <div class="">
        <div class="text-center middle-banner__wrapper">
        <div class="middle-banner__block--wrapper">
              <div>
                
                    <h3 style="text-align: center;">Candidats</h3>
                    <p>&nbsp;</p>
                    <a class="btn btn__yellow btn__bold btn-post-job" href="https://www.stage.fr/registration/?user_group_id=JobSeeker" style="display: block; margin-left: auto;  margin-right: auto">Publiez votre CV</a>
                
              </div>
        <div>
        <h3 style="text-align: center;">Recruteurs</h3>
        <p>&nbsp;</p>
        <a class="btn btn__yellow btn__bold btn-post-job" href="https://www.stage.fr/add-listing/?listing_type_id=Job" style="display: block; margin-left: auto;  margin-right: auto">Diffusez une annonce (80&euro;HT)</a></div>
        </div>
        </div>
        </div>   
        </div>




      <!-- tttttttttttttttttttttttttttt -->
    </section>
    
</div>
  
  <app-sections></app-sections>
</main>
